.panel-heading {
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.panel-body img {
  height: 200px;
  float: left;
  padding-right: 10px;
}

.buttonContainer {
  border: 1px solid lightblue;
  text-align: center;
}
