.panel-heading {
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.panel-body img {
  height: 200px;
  float: left;
  padding-right: 10px;
}

.buttonContainer {
  border: 1px solid lightblue;
  text-align: center;
  background-color: #E2EFFF;
}

.introHeading {
  background-image: linear-gradient(#337ab7,#337ab7);
}

.introHeading h1 {
  color: white;
}

.introBody {
  color: black;
  background-color: #eee
}
